<video autoplay loop>

<source src="//vimeo-hp-videos.global.ssl.fastly.net/0/0-vp8.webm" type="video/webm">
<!-- //vimeo-hp-videos.global.ssl.fastly.net/4/4-vp8.webm -->
<!-- //vimeo-hp-videos.global.ssl.fastly.net/2/2-vp9.webm -->
<!-- //vimeo-hp-videos.global.ssl.fastly.net/6/6-vp9.webm -->
<!-- //vimeo-hp-videos.global.ssl.fastly.net/0/0-vp8.webm -->
</video>


<center>

  <div class="profile-title">
    <h2><%= current_user.name %> Profile</h2>
  </div>
  <div class="profile-title-like">
    <h3>All your Likes <%= current_user.likes.count %></h3>
  </div>
  <br>
  <%= link_to new_music_path do %><span class="btn btn-success">Add A Song To Your feed<% end %>
  <br>
  <% @musics.each do |music| %>
    <div class="profile-post-likes col-md-1">
    <%= link_to  music_path(music), method: :delete, data: { confirm: "Are you sure you want to delete this Song?"} do %>
                  <span class="glyphicon glyphicon-remove float-right" aria-hidden="true"><% end %>
      <h3><%= music.song %></h3>
      <br>
      <%= music.artist %>
      <iframe width="98%" height="250px" src="https://www.youtube.com/embed/<%= music.youtube_url.split('v=')[1].split('&')[0] %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>
</center>

