<video autoplay loop>

<source src="//vimeo-hp-videos.global.ssl.fastly.net/1/1-vp8.webm " type="video/webm">
<!-- //vimeo-hp-videos.global.ssl.fastly.net/4/4-vp8.webm -->
<!-- //vimeo-hp-videos.global.ssl.fastly.net/2/2-vp9.webm -->
<!-- //vimeo-hp-videos.global.ssl.fastly.net/6/6-vp9.webm -->
<!-- //vimeo-hp-videos.global.ssl.fastly.net/0/0-vp8.webm -->
</video>
<center>

<div id="polina">
<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h5> <%= User.all.count %> have signed up so far.</h5>
  <div class="field">
    <%= f.text_field :name, :placeholder=> "  Name" %>
  </div>
  <div class="field">
    <%= f.text_field :image_url, :placeholder=> "  Image URL"  %>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder=> "  Email"  %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder=> "  Password"  %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder=> "  Password Confirmation"  %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
<br>
<p> Already have an Account? <%= link_to 'Log In.', login_path %> </p>
</div>

</center>
