
<center>
  <div id="musicIndex">
    <h1>Today's Song</h1>
  </div>
    <% @musics.each do |i| %>
      <div class="postmusic">
        <% if i.user %>
          <%= i.user.name %> <br>
          <img src = "<%= i.user.image_url %>" width=100px height=100px ><br>
        <% end %>
        <%= i.artist %> <h3> <%= i.song %> </h3> <%= i.genre %> <br>
        <button type="button"><%= link_to music_path(i) do %>More Info
         <span class="glyphicon glyphicon-search" aria-hidden="true"><% end %></button> |

        <button type="button"><%= link_to  music_path(i), method: :delete, data: { confirm: "Are you sure you want to delete this Song?"} do %>Delete
        <span class="glyphicon glyphicon-remove" aria-hidden="true"><% end %></button> |

        <button type="button"><%= link_to edit_music_path(i) do %>Edit
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"><% end %></button> |
        <% if current_user %>
          <button type="button" class="btn-like" data-user='<%= current_user.id %>' data-music='<%= i.id %>'>Like <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>



              <% i.comments.each do |comment| %>
              <br>
              <strong><%= comment.user.name %>:</strong> <%= comment.content %> | <%= link_to  comment, method: :delete, data: {confirm: "Are you sure?"} do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"><% end %>
              <br>

            <% end %>

            <%= form_for Comment.new do |f| %>
          <%= f.hidden_field :music_id, :value => i.id %>
         <%= f.hidden_field :user_id, :value => current_user.id %>
        <div>
        <%= f.label :Comment %>
        <%= f.text_area :content %>
      </div>
      <%= f.submit "Submit" %>
      <% end %>






        <% end %>
        <div id="like-count-<%= i.id %>">Likes: <%= i.likes.count %></div>
        <br><br>
      </div>
    <% end %>
    <button type="button" class="btn btn-success"><%= link_to 'New Song', new_music_path %></button>
</center>
