<h1> Song you pick</h1>

<p>This song  <%= @music.song %> by "<%= @music.artist %>" is in the genre of <%= @music.genre %> </p>



<%= link_to "Edit", edit_music_path(@music) %> |
<%= link_to "Delete", :music, method: :delete, data: { confirm: "Are you sure you want to delete this Song?"} %> |
<%= link_to "Back", musics_path %>
