<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top navbar-default">
    <% if current_user %>
      <span id="NavBarText"><%= link_to root_path do %>Home<% end %> </span></span><span id="NavBarTextLink">
      &nbsp;&nbsp;|&nbsp;&nbsp;
     <%= link_to 'Logout', session_path('dummy'), method: :delete %>
     &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'New Song', new_music_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
      <span class='Info-btn' data-toggle="modal" data-target="#myModal">Info about us</span>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to users_path do %>  <%= current_user.name %> Profile <% end %> </span>

    <% else %>
      <span id="NavBarTextLink"><%= link_to 'Login', login_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Sign Up', new_user_path %></span>
    <% end %>
  </div>
  <br>
<%= yield %>

</body>
</html>
